<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>HOME</title>
	<link rel="stylesheet" href="/frontstyle.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,100&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<!-- /header -->
	<header>
		<nav>
			<div class="logo"><h1 class="animate__animated animate__heartBeat animate__infinite">WishMasters</h1></div>
			<div class="navlink" id="navlink">
				<i class="fa fa-times-circle" onclick="hidemenu()"></i>
				<ul>
					<li><a href="/">HOME</a></li>
					<li><a href="/about">ABOUT</a></li>
					<li><a href="/services">SERVICES</a></li>
					<li><a href="/contact">CONTACT US</a></li>
					<li><a href="/cart">CART</a></li>
					<li><a href="/orders">ORDERS</a></li>
				</ul>
			</div>
			<i class="fa fa-bars" onclick="showmenu()"></i>
		</nav>

		<main>
			<section class="texxt">
				<h1>Welcome to WishMasters</h1>
				<h3>By Mnnitians, For Mnnitians, Near Mnnitians. </h3>
				<p>We aim to help the utility provider who have lost their job during covid while also helping the customer who cannot afford to go out of their homes to receive the services of the providers.</p>

               <% if(!userLoggedIn){ %>
				<a href="/login" class="btn-one">LOGIN</a>
				<a href="/register" class="btn-two">SIGNUP</a>
			<% }else{ %>
				<a href="/logout" class="btn-one" >Log Out</a>
			<% } %>

			</section>
		</main>
	</header>

<section class="about">
	<h1>Something about this website</h1>
	<p>WishMasters is the ultimate location to help you getting the right services right at your doorstep.</p>
	<div class="row">
		<div class="column">
			<p>We provide you with 8 of the basic services you need in your life and help them to reach you.</p>

		</div>

		<div class="column">
		<p>We know that the safety of you and your family is first and so we assure you that all the utility providers work while following the covid guidelines.</p>
		</div>

		<div class="column">
			<p>To make sure that the providers do not lose their job after the lockdown, we help them financialy by employing them and fulfilling your needs.</p>
		</div>
	</div>
 
</section>


<footer>
	<h4>ABOUT US</h4>
	<p>Safety and excellence are at the core of our beliefs.</p>

	<div class="icons">
		<i class="fa fa-facebook"></i>
		<i class="fa fa-twitter"></i>
		<i class="fa fa-instagram"></i>
		<i class="fa fa-linkedin"></i>
	</div>
</footer>

<script>
var navlink=document.getElementById("navlink");

function showmenu(){
	navlink.style.right="0";
}	

function hidemenu(){
	navlink.style.right="-200px";
}
</script>

</body>
</html>
