<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>FACILITIES</title>
	<link rel="stylesheet" href="/frontstyle.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,100&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<!-- /header -->
	<section class="sub-header">
		<nav>
			<div class="logo"><h1 class="animate__animated animate__heartBeat animate__infinite">HACK 36</h1></div>
			<div class="navlink" id="navlink">
				<i class="fa fa-times-circle" onclick="hidemenu()"></i>
				<ul>
					<li><a href="/">HOME</a></li>
					<li><a href="/about">ABOUT</a></li>
					<li><a href="/services">FACILITIES</a></li>
					<li><a href="/contact">CONTACT US</a></li>
				</ul>
			</div>
			<i class="fa fa-bars" onclick="showmenu()"></i>
		</nav>
		<h2>FACILITIES</h2>
	</section>

<div class="cards">
	
	<div class="card">
		<div class="image">
			<img src="images/img1.jpeg">
		</div>
		<div class="title">
			<h1>CARPENTER</h1>
		</div>
		<div class="des">
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
		<button type="">ADD TO CART</button>
		</div>
	</div>

	<div class="card">
		<div class="image">
			<img src="images/img2.jpeg">
		</div>
		<div class="title">
			<h1>PLUMBER</h1>
		</div>
		<div class="des">
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
		<button type="">ADD TO CART</button>
		</div>
	</div>

	<div class="card">
		<div class="image">
			<img src="images/img3.jpeg">
		</div>
		<div class="title">
			<h1>AC SERVICE</h1>
		</div>
		<div class="des">
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
		<button type="">ADD TO CART</button>
		</div>
	</div>

	<div class="card">
		<div class="image">
			<img src="images/img4.jpeg">
		</div>
		<div class="title">
			<h1>SALON</h1>
		</div>
		<div class="des">
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
		<button type="">ADD TO CART</button>
		</div>
	</div>

	<div class="card">
		<div class="image">
			<img src="images/img5.jpeg">
		</div>
		<div class="title">
			<h1>PAINTER</h1>
		</div>
		<div class="des">
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
		<button type="">ADD TO CART</button>
		</div>
	</div>

	<div class="card">
		<div class="image">
			<img src="images/img6.jpeg">
		</div>
		<div class="title">
			<h1>ELECTRICIAN</h1>
		</div>
		<div class="des">
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
		<button type="">ADD TO CART</button>
		</div>
	</div>

	<div class="card">
		<div class="image">
			<img src="images/img7.jpg">
		</div>
		<div class="title">
			<h1>CLEANER</h1>
		</div>
		<div class="des">
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
		<button type="">ADD TO CART</button>
		</div>
	</div>

	<div class="card">
		<div class="image">
			<img src="images/img8.jpeg">
		</div>
		<div class="title">
			<h1>HOME MASSAGE</h1>
		</div>
		<div class="des">
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
		<button type="">ADD TO CART</button>
		</div>
	</div>


	
</div>



<footer>
	<h4>ABOUT US</h4>
	<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
	<div class="icons">
		<i class="fa fa-facebook"></i>
		<i class="fa fa-twitter"></i>
		<i class="fa fa-instagram"></i>
		<i class="fa fa-linkedin"></i>
	</div>
</footer>

<script>
var navlink=document.getElementById("navlink");

function showmenu(){
	navlink.style.right="0";
}	

function hidemenu(){
	navlink.style.right="-200px";
}
</script>

</body>
</html>
