<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>Verify Passcode | Confirm Service</title>
	<link rel="stylesheet" href="/frontstyle.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,100&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<!-- /header -->
	<section class="sub-header">
		<nav>
			<div class="logo"><h1 class="animate__animated animate__heartBeat animate__infinite">WishMasters</h1></div>
			<div class="navlink" id="navlink">
				<i class="fa fa-times-circle" onclick="hidemenu()"></i>
				<ul>
					<li><a href="/">HOME</a></li>
					<li><a href="/about">ABOUT</a></li>
					<li><a href="/services">FACILITIES</a></li>
					<li><a href="/contact">CONTACT US</a></li>
				</ul>
			</div>
			<i class="fa fa-bars" onclick="showmenu()"></i>
		</nav>
		<h2>Verify Service Completion</h2>
	</section>

<section class="about">
		<div class="row" style="position: relative;">
			<form id="passcodeForm" action="/verify" method="POST">
				<label>Passcode :</label>
				<input id="passcode" name="passcode" type="number" min="1000" max="9999" placeholder="Enter 4-Digit Passcode" required>
				<input id="serviceId" name="serviceId" type="text" hidden>
                <button id="submit" type="submit" class="btn btn-dark btn-outline">Verify</button>
            </form>
		</div>
</section>

<footer>
	<h4>ABOUT US</h4>
	<p>Wishlist is the ultimate location to help you getting the right services right at your doorstep.</p>	<div class="icons">
		<i class="fa fa-facebook"></i>
		<i class="fa fa-twitter"></i>
		<i class="fa fa-instagram"></i>
		<i class="fa fa-linkedin"></i>
	</div>
</footer>

<script>

	var hashParams = window.location.hash.substr(1).split('&'); 
	for(var i = 0; i < hashParams.length; i++){
		var p = hashParams[i].split('=');
		document.getElementById(p[0]).value = decodeURIComponent(p[1]);
	}

	var navlink=document.getElementById("navlink");

	function showmenu(){
		navlink.style.right="0";
	}	

	function hidemenu(){
		navlink.style.right="-200px";
	}
</script>

</body>
</html>